.titulo {
    text-align: center;
    padding: 20px;
    background-color:#1976d2;
}

.subtitulo {
    padding: 10px;
    background-color: darkgrey;
}

h3 {
    border: 2px solid black;
    border-radius: 10%;
}

.contenedor {
    padding: 20px;
    background-color: #42a5f5;
    border: 2px solid black;
    border-radius: 5%;
}

.datosPersonales {
    display: block;
    text-align: center;
    
}

.formacionAcademica {
    display: inline;
    text-align: center;
}

.idiomas {
    display: inline;
    text-align: center;
}

.perfilProfesional {
    text-align: justify;
}

.derecha {
    text-align: right;
}

.btn {
    display: inline;
    text-align: right;
    text-decoration: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid  black;
    padding: 8px;
}

.btn:hover {
    color: black;
    background-color: grey;
}

footer {
    text-align: center;
}

body {
    padding-left: 100px;
    padding-right: 100px;
}

img {
    border-radius: 100%;
}