body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.cabecera{
    text-align: center;
    vertical-align: middle;
}
.nombre{
    color :#114B8C;
}
.centrar{
    text-align: center;

}
.izquierda{
    text-align: left;
}
.derecha{
    text-align: right;
}
.letraGrande{
    font-size: 35px;
}

.letraMediana{
    font-size: 25px;
}
.imgResize {
    width:200px;
    height:200px;
}

.centrarVertical{
    vertical-align:middle;
}
.contenedor{
    padding-left: 300px;
    padding-right: 300px;

}
.separador{
    padding: 25px;
}
.justificado{
    text-align: justify;
}
.personaFoto { 
    width: 25%; 
    height: 25%; 
    object-fit: contain; 
} 
.titulo{
    color : #064995
}
.borde{
        border-radius: 25px;
        border: 2px solid #C1D7EF ;
}
.descripcionDatoPersonal{
    color :#69696A  ;
}
.btn{
    text-decoration: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid grey;
    padding: 8px;
}
.btn:hover{
    color: black;
    background-color: grey;
}